<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Manage Products</h1>
      <hr>
    </div>
    <div class="container">
      <!-- add product form -->
      <div class="form-area">
        <h3>Create products</h3>
        <form #productsForm="ngForm" (ngSubmit)="onProductCreate(productsForm.value)">
          <label>Product Name</label>
          <input type="text" name="pName" ngModel>
          <label>Product Decription</label>
          <input type="text" name="desc" ngModel>
          <label>Product price</label>
          <input type="text" name="price" ngModel>

          <input type="submit" value="Add product">
        </form>
      </div>
      <!-- Display Product area -->
      <div class="product-display-area">
        <h3>All Product</h3>
        <table id="products">
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>

          </tr>
        </table>
      </div>
    </div>
  </div>
</div>